#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;

    aside {
        width: 200px;
        background: #001529;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;

    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: gray;
        min-height: 60px;
    }


    main {
        flex: 1;
        height: calc(100vh - 60px);
        overflow-y: scroll;
    }
}